.chat-container{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
}

.chat-user-details{
  align-self: flex-start;
}

.chat-message-container{
  width: 80vw;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding: 16px;
  height: 600px;
  max-height: 600px;
  /* overflow: auto; */
  margin-bottom: 24px;
  display: flex;
  flex-direction: column-reverse;
}

