.chat-container{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
}

.chat-user-details{
  align-self: flex-start;
}

.chat-message-container{
  width: 80vw;
  min-height: 640px;
  height: 600px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

