.chat-container{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
  background-color: #18181B;
  color: #F5F5F5;
  height: 100vh;
}

.chat-user-details{
  align-self: flex-start;
}

.chat-message-container{
  width: 80vw;
  overflow: scroll;
  display: flex;
  flex-direction: column !important;
  padding: 16px;
  height: 580px;
  max-height: 580px;
  margin-bottom: 24px;
}
 